#pndra-main {
  height: 100%;
  width: 100%;
}

.pndra-blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

#pndra-mainContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 650px;
  min-width: 1000px;
  overflow: hidden;
  padding: 0;
}

#pndra-mainContainer .background {
  height: 100%;
  width: 100%;
  background-image: url('http://s3-us-west-1.amazonaws.com/pandora-s3/static/assets/background.jpg');
  background-size: cover;
}

#pndra-sideNav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  min-height: 650px;
  width: 300px;
  background-color: #02142f;
  /* Clear background?
  border-right: 1px;
  border-right-style: solid;
  border-color: #02142f;
  */
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  text-align: center;
}

#pndra-createStationInput {
  width: 300px;
  margin: 0 auto;
  padding: 15px;
}

#pndra-createStationPopover {
  width: 200px;
  color: black;
  top: 0px;
  left: 290px;
  visibility: hidden;
}

#pndra-stationList {
  max-height: 250px;
  width: 300px;
  padding: 10px;
  overflow: scroll;
  list-style: none;
  text-align: left;
}

#pndra-stationList li {
  padding: 5px;
  display: flex;
}

#pndra-stationList li .active {
  color: #accdff;
  font-weight: bold;
}

#pndra-stationList .pndra-deletePlaylist {
  float: left;
  margin-left: 10px;
}

#pndra-stationList .pndra-playlistName {
  margin-left: 20px;
}

.pndra-progressBar {
  width: 250px;
  margin: 0 auto;
}

#pndra-audioControl {
  width: 300px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#pndra-audioControl .pndra-audioButton {
  color: white;
  font-size: 2.0em;
  margin: auto;
}

#pndra-sideNavAlbum {
  height: 200px;
  width: 300px;
  padding: 10px;

  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pndra-sideNavAlbum.album-hidden {
  visibility: hidden;
}

#pndra-sideNavAlbum img {
  height: 100px;
  width: 100px;
  background-color: white;
}

#pndra-sideNavAlbum div {
  width: 200px;
  text-align: center;
}

#pndra-sideNavAlbum .albumTitle {
  margin-top: 10px;
  font-weight: bold;
}

#pndra-sideNavAlbum .albumArtist {
  margin-top: 5px;
  font-size: 0.95em;
}

#pndra-logout {
  border-top: 1px solid;
  border-color: rgba(194,229,255,0.2);
  width: 300px;
  height: 40px;
  padding: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pndra-mainView {
  position: absolute;
  top: 0;
  left: 300px;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#pndra-albumSelect {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
  width: 100%;
  height: 400px;

  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

#pndra-albumSelect .pndra-albumNav {
  padding: 5px;
  width: 40px;
  height: 80px;
  text-align: center;
}

#pndra-albumSelect #pndra-albumList {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

#pndra-albumSelect .pndra-album {
  margin-left: 10px;
  margin-right: 10px;
  width: 140px;
  height: 240px;
  text-align: center;
  flex-shrink: 0;
  background-color: white;
  box-shadow: 1px 1px 5px 0px #032352;
}

#pndra-albumSelect .pndra-album.selected {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#pndra-albumSelect .pndra-album img {
  background-color: white;
  width: 140px;
  height: 140px;
}

#pndra-albumSelect .pndra-album .albumTitle {
  width: 140px;
  height: 65px;
  padding: 5px;
  font-size: 0.85em;
  font-weight: bold;
  color: #666666;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pndra-albumSelect .pndra-album hr {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  border-width: 1px;
}

#pndra-albumSelect .pndra-album .albumArtist {
  width: 140px;
  height: 35px;
  padding: 5px;
  font-size: 0.8em;
  color: #999999;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pndra-audioCanvasContainerLeft {
  padding: 20px;
  width: 50%;
  height: 300px;
  float: left;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pndra-audioCanvasLeft {
  width: 100%;
  height: 100%;
}

#pndra-audioCanvasContainerRight {
  padding: 20px;
  width: 50%;
  height: 300px;
  float: right;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#pndra-audioCanvasRight {
  width: 100%;
  height: 100%;
}
