@font-face {
  font-family: 'Proxima Nova';
  src: url('proxima-nova.otf');
}

html, body {
  height: 100%;
  margin: 0;
  padding; 0;
  font-family: 'Proxima Nova', 'Open Sans', 'Source Sans Pro', 'Droid Sans', sans-serif;
}

#pndra-main {
  height: 100%;
  width: 100%;
}

#pndra-mainContainer {
  height: 100%;
  width: 100%;
  /* display: 'flex', */
  /* flexFlow: 'row wrap', */
  background-image: url('http://www.pandora.com/static/valances/pandora/default/skin_background.jpg');
  padding: 0;
}

#pndra-topNav {
  height: 30px;
  width: 100%;
  position: fixed;
  background-color: #1c3f5b;
}

#pndra-bodyContainer {
  height: 100%;
  width: 100%;
}

#pndra-sideNav {
  padding-top: 30px; /* For top nav */
  height: 100%;
  width: 300px;
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #465c7d;
  color: white;
}

#pndra-mainView {
  padding-top: 30px; /* For top nav */
  padding-left: 300px; /* For side nav */
  height: 100%;
  width: 100%;
}

#pndra-albumSelect {
  padding: 50px;
  width: 100%;
  height: 400px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justifyContent: flex-center;
  color: white;
}

#pndra-albumSelect .pndra-albumNav {
  padding: 5px;
  width: 40px;
  height: 80px;
  text-align: center;
}

#pndra-albumSelect #pndra-albumList {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justifyContent: flex-start;
  color: white;
}

#pndra-albumSelect .pndra-album {
  margin: 10px;
  padding: 5px;
  width: 140px;
  height: 300px;
  text-align: center;
  /* border: 1px solid white; */
}

#pndra-albumSelect .pndra-album img {
  position: 0 0 absolute;
  width: 130px;
  height: 130px;
}

#pndra-albumSelect .pndra-album .albumText {
  position: 150 0 absolute;
  width: 150px;
  height: 150px;
}

#pndra-audioCanvasLeft {
  padding: 20px;
  width: 50%;
  height: 300px;
  float: left;
}

#pndra-audioCanvasRight {
  padding: 20px;
  width: 50%;
  height: 300px;
}
