@font-face {
  font-family: 'Proxima Nova';
  src: url('proxima-nova.otf');
}

html, body {
  height: 100%;
  margin: 0;
  padding; 0;
  font-family: 'Proxima Nova', 'Open Sans', 'Source Sans Pro', 'Droid Sans', sans-serif;
}

#pndra-main {
  height: 100%;
  width: 100%;
}

#pndra-mainContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 650px;
  min-width: 1000px;
  overflow: hidden;
  padding: 0;
  background-image: url('http://www.pandora.com/static/valances/pandora/default/skin_background.jpg');
}

#pndra-topNav {
  height: 30px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: absolute;
  background-color: #1c3f5b;
}

#pndra-sideNav {
  position: absolute;
  top: 30px;
  left: 0;
  bottom: 0;
  min-height: 650px;
  width: 300px;
  background-color: #465c7d;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  text-align: center;
}

#pndra-createStationInput {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
}

#pndra-stationList {
  max-height: 250px;
  width: 300px;
  padding: 10px;
  overflow: scroll;
}

#pndra-stationList li {
  padding: 5px;
}

#pndra-stationList li.active {
  color: #accdff;
  font-weight: bold;
}

.pndra-progressBar {
  width: 250px;
  margin: 0 auto;
}

#pndra-audioControl {
  width: 300px;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#pndra-audioControl .pndra-audioButton {
  color: white;
  font-size: 2.0em;
  margin: auto;
}

#pndra-sideNavAlbum {
  height: 200px;
  width: 300px;
  padding: 10px;

  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pndra-sideNavAlbum.album-hidden {
  visibility: hidden;
}

#pndra-sideNavAlbum img {
  height: 100px;
  width: 100px;
  background-color: white;
}

#pndra-sideNavAlbum div {
  text-align: center;
}

#pndra-mainView {
  position: absolute;
  top: 30px;
  left: 300px;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#pndra-albumSelect {
  padding: 50px;
  padding-bottom: 0;
  width: 100%;
  height: 400px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justifyContent: flex-center;
  color: white;
}

#pndra-albumSelect .pndra-albumNav {
  padding: 5px;
  width: 40px;
  height: 80px;
  text-align: center;
}

#pndra-albumSelect #pndra-albumList {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justifyContent: flex-start;
  color: white;
}

#pndra-albumSelect .pndra-album {
  margin: 10px;
  padding: 5px;
  width: 140px;
  height: 100%;
  text-align: center;
  flex-shrink: 0;
  /* border: 1px solid white; */
}

#pndra-albumSelect .pndra-album img {
  position: 0 0 absolute;
  background-color: white;
  width: 130px;
  height: 130px;
}

#pndra-albumSelect .pndra-album.selected img {
  position: 0 0 absolute;
  width: 140px;
  height: 140px;
}

#pndra-albumSelect .pndra-album .albumText {
  position: 150 0 absolute;
  width: 150px;
  height: 150px;
}
#pndra-albumSelect .pndra-album.selected .albumText div {
  font-size: 1.1em;
  color: #accdff;
}

#pndra-audioCanvasLeft {
  padding: 20px;
  width: 50%;
  height: 300px;
  float: left;
}

#pndra-audioCanvasRight {
  padding: 20px;
  width: 50%;
  height: 300px;
}
