<!DOCTYPE html>
<html>
  <head>
    {% include '_header.html' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}" />

    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/bootstrap3-typeahead.min.js') }}"></script>
  </head>
  <body>
    <div id="pndra-login">
      <div id="pndra-loginBoxBorder">
        <div id="pndra-loginBox">
          <span id="welcome1">
            Welcome to <span class="blue">Dandora</span>
          </span>
          <span id="welcome2">
            Sign in with Twitter
          </span>
          <a href="/login/auth">
            <img src="/static/assets/twitter-login.png"></img>
          </a>
          <span id="welcome3">or create a station as a guest</span>
          <input id="create-station"
                 type="text"
                 class="form-control"
                 placeholder="Create a station (type a song or artist name)">
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function() {
        var selectStation = function(item) {
          var params = "query=" + encodeURIComponent(item);
          window.location.href = '/login/auth/null?' + params
        }
        $.get('/api/artists', function(response) {
          $('#create-station').typeahead({
            source: response.data,
            minLength: 1,
            items: 8,
            afterSelect: selectStation
          });
        });
      });
    </script>
  </body>
</html>

