<!DOCTYPE html>
<html>
  <head>
    {% include '_header.html' %}
    <link rel="stylesheet" type="text/css" href="/static/css/login.css" />
  </head>
  <body>
    <div id="pndra-login">
      <div id="pndra-loginBoxBorder">
        <div id="pndra-loginBox">
          <span id="welcome1">
            Welcome to <span class="blue">Dandora</span>
          </span>
          <span id="welcome2">
            Sign in with Twitter
          </span>
          <a href="/login/auth">
            <img src="/static/assets/twitter-login.png"></img>
          </a>
          <span id="welcome3">or create a station without signing in</span>
          <input type="text" class="form-control" placeholder="Create a station">
        </div>
      </div>
    </div>

  </body>
</html>

